/* Elemen HTML */
body { /* didalam tag body */
    font-family: Arial, Helvetica, sans-serif
}

h1, h2 { /* didalam tag h1 dan h2 */
    color: lightcoral;
    font-family: 'Courier New', Courier, monospace;
}

ul li a { /* didalam tag a yang ada didalam li dan ada didalam ul */
    color: orange;
    text-decoration: none;
}

ol li a {
    color: green;
}

#p1 { /* id menggunakan # */
    color: lightseagreen;
}

.p2 { /* class menggunakan . */
    color: blue;
}

.cetak-tebal {
    font-weight: bold;
}

p.cetak-tebal { /* tag p yang memiliki class cetak-tebal */
    font-size: 15px;
}